@import '../utilities/variables';
footer {
    p {
        border-top: 1px solid black;
        font-family: $fuente-principal;
        font-size: 15px;
        margin-top: 10px;
        padding: 15px;
        text-align: center;
    } 
    .medias {
        display: flex;
        justify-content: center;
        img {
            width: 25px;
            height: 25px;
        }
    }   
}