section {
    display: grid;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1000px 700px;
    grid-gap: 20px;
    .item-uno {
        background-image: url(../../img/grid-index/grid-one.jpg);
        background-size: cover;
    }
    .item-dos {
        background-image: url(../../img/grid-index/grid-two.jpg);
        background-size: cover;
        p {
            font-family: $fuente-principal;
            font-size: 50px;
            text-align: center;
            background: #ccc;
            background: linear-gradient(to right, #020024, #79096d, #e0779d);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    .item-tres {
        background-image: url(../../img/grid-index/grid-three.jpg);
        background-size: cover;
        grid-column: 1/3;
        p{
            font-family: $fuente-principal;
            font-size: 50px;
            text-align: center;
            background: #ccc;
            background: linear-gradient(to right, #2a0000, #d10303, #f67a7a);
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
}