section {
    display: grid;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1000px 700px;
    grid-gap: 20px;
    .item-uno {
        background-image: url(../../img/grid-one.jpg);
        background-size: cover;
        p {
            font-family: $fuente-principal;
            font-size: 50px;
            text-align: center;
            color: white;
        }
    }
    .item-dos {
        background-image: url(../../img/grid-two.jpg);
        background-size: cover;
        p {
            font-family: $fuente-principal;
            font-size: 50px;
            text-align: center;
            color: #d5bdaf;
        }
    }
    .item-tres {
        background-image: url(../../img/grid-three.jpg);
        background-size: cover;
        grid-column: 1/3;
        p{
            font-family: $fuente-principal;
            font-size: 50px;
            text-align: center;
            color: #780000;
        }
    }
}