@import '../utilities/variables';
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    img {
        width: 120px;
        height: 45px;
    }
    nav {
        font-family: $fuente-principal;
        font-size: 13px;
        margin-top: 10px;
        .nav {
            li {
                text-decoration: none;
                list-style-type: none;
                float: left;
                &:hover > ul {
                    display: block;
                }
                ul {
                    display: none;
                    position: absolute;
                    min-width: 140px;
                    li {
                        text-decoration: none;
                        list-style-type: none;
                    }
                }
            a {
                color: black;
                text-decoration: none;
                padding: 10px 15px;
                display: block;
                &:hover {
                    background-color: white;
                }
            }
            }
        }
    }
    .compras {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}